body {
    margin: 0;
    padding: 0;
    font-family: calibri;
    background-color: #000;
    color: #fff;
    text-align: center;
}

body, h1, p {
    margin: 0;
    padding: 0;
}
.header {
    padding: 20px;
}
.logo {
    width: 80px;
}

.title {
    font-size: 34px;
    font-weight: bolder;
}

.tagline {
    font-size: 12px;
    font-style: italic;
}

/* bagian navigasi */
.nav {
    background-color: #fff;
    padding: 10px 0;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav ul li {
    position: relative;
    display: inline-block;
}

.nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    display: block;
}

.nav ul li {
    position: relative;
    margin: 0 15px;
}

.nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    display: inline-block;
    transition: color 0.3s ease ease-in-out;
}

.nav ul li a:hover {
    color: #ccc;
    border-radius: 5px;
}

.nav ul li .active {
    background-color: #aaa;
    border-radius: 5px;
}

.nav .dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
}

.nav ul li:hover .dropdown {
    display:block
}